$maxWidth: 1210;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}

	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

body{
	font-family: 'Montserrat';
	font-size: 16px;
	color: white;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
	overflow-x: hidden;
}

ul,ol{
	padding: 0;
	margin: 0;
}

a{
	color: white;
	text-decoration: none;
}

h1{
	@include adaptiv-font (36, 28);
	font-weight: 900;
}

h2{
	font-size: 24px;
	font-weight: 700;
	margin-top: 0;
	padding-top: 50px;
	padding-bottom: 30px;
}

h3{
	font-size: 20px;
	font-weight: 600;
}

.container{
	width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}

i{
	transition: 0.5s all ease;
	color: #E7C368;
	text-shadow: 0 0 15px rgba(231, 195, 104, 0.3);

	&:hover{
		text-shadow: 0 0 20px rgba(231, 195, 104, 0.6);
	}
}

.btn{
	transition: 0.5s all ease 0.5s;
	position: relative;
	width: 300px;
	display: block;
	color: black;
	font-size: 24px;

	&.active{

		.button{
		transition: all ease 0.5s;
		display: flex;
		border-radius: 5px;
		align-items: center;
		position: relative;
		z-index: 2;
		justify-content: center;
		background: linear-gradient( to bottom right, rgba(231, 196, 105, 1), rgba(254, 219, 129, 1));

		p{
			margin-right: 20px;
			margin-left: 20px;
			font-weight: 700;
		}
	}

	.down__btn{
		width: 300px;
		height: 77px;
		background: #9E8238;
		border-radius: 5px;
		position: relative;
		top: -65px;
	}

	&:after{
		transition: all ease 0.5s;
		content: '';
		display: block;
		position: absolute;
		width: 300px;
		height: 77px;
		top: 15px;
		background: rgba(231, 195, 104, 0.5);
		filter: blur(20px);
	}

	&:hover{

		.button{
			transform: translateY(11px);
		}

		&:after{
			opacity: 0;
		}
	}

	}

	.button{
		transition: all ease 0.5s;
		display: flex;
		border-radius: 5px;
		align-items: center;
		position: relative;
		z-index: 2;
		justify-content: center;
		background: linear-gradient( to bottom right, rgba(231, 196, 105, 1), rgba(254, 219, 129, 1));

		img{
			width: 25px;
			height: 23px;
		}
		p{
			margin-right: 20px;
			margin-left: 20px;
			font-weight: 700;
		}
	}

	.down__btn{
		width: 300px;
		height: 77px;
		background: #9E8238;
		border-radius: 5px;
		position: relative;
		top: -65px;
	}

	&:after{
		transition: all ease 0.5s;
		content: '';
		display: block;
		position: absolute;
		width: 300px;
		height: 77px;
		top: 15px;
		background: rgba(231, 195, 104, 0.5);
		filter: blur(20px);
	}

	&:hover{

		.button{
			transform: translateY(11px);
		}

		&:after{
			opacity: 0;
		}
	}
}

.navigation{
			margin-top: 30px;
			font-size: 20px;
			display: flex;
			justify-content: center;

			transform: translate(0, 40px);
			opacity: 0;
			transition: 0.5s all ease;

			&._active{

				transform: translate(0);
				opacity: 1;
			}


			.navigate{
				width: 250px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.dot{
					width: 35px;
					height: 1px;
					background: white;
					cursor: pointer;

					&.active{
						box-shadow: 0 0 5px #E7C368;
					}
				}
			}
		}

.adress{
	width: 160px;
	text-align: right;

	transform: translate(-20px, 0);
	opacity: 0;
	transition: 0.5s all ease 1s;

	&._active{

	transform: translate(0px, 0);
	opacity: 1;

	}

	.city{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-weight: 700;



		i{
			font-size: 35px;
			margin-right: 10px;
		}
	}
}

.phone{
	width: 290px;
	text-align: right;

	transform: translate(-20px, 0);
	opacity: 0;
	transition: 0.5s all ease 1.5s;

	&._active{

	transform: translate(0px, 0);
	opacity: 1;

	}

	.number{	
		display: flex;
		align-items: center;
		font-weight: 700;
		justify-content: flex-end;

		i{
			font-size: 35px;
			margin-right: 10px;
		}
	}
}

.arrow{
	width: 26px;
	height: 23px;
	position: relative;
	cursor: pointer;

	&:before{
		 content: "";
   		 width: 20px;
    	 display: block;
  		 background: black;
   		 height: 1px;
   		 position: absolute;
  		 top: 5.5px;
   		 left: 8.5px;
   		-webkit-transform: rotate(45deg);
    	transform: rotate(40deg);
	}

	&:after{
		 content: "";
   		 width: 20px;
    	 display: block;
  		 background: black;
   		 height: 1px;
   		 position: absolute;
  		 top: 18px;
    	left: 8.5px;
   		-webkit-transform: rotate(-40deg);
    	transform: rotate(-40deg);
	}

	span{
		width: 26px;
		display: block;
		background: black;
		height: 1px;
		position: absolute;
		top: 50%;
	}
}

.razer{
	position: absolute;
	z-index: 2;

	&.first-razer{
		width: 235px;
		left: 60%;
		top: 70%;
		transform: rotate(-45deg);
		transition: 1s all ease;

		&._active{
		transform: rotate(0deg);
		left: 40%;
		top: 70%;
		}

	}

	&.second-razer{
		width: 190px;
		filter: blur(3px);
		left: 83%;
		transform: rotate(-90deg);
		top: 90%;
	}
}

.burger{

			width: 30px;
			height: 20px;
			cursor: pointer;
			position: relative;
			display: none;
			
			span{
				position: absolute;
				background: white;
				width: 100%;
				top: 9px;
				height: 1px;
			}

			&:after,
			&:before{
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: white;
			}

			&:after{
				bottom: 0;
				
			}

			&:before{
				top: 0;
			}
		}

.first-wrap{
	padding-top: 20px;
	background: linear-gradient(to bottom right, #1B182E, #010102);
	overflow: hidden;
	z-index: 2;

	.container{

		.header{
			display: flex;
			align-items: center;
			justify-content: space-between;

			.emblem{
				display: flex;
				align-items: center;

				i{
					margin-right: 10px;
					font-size: 60px;
					transform: translate(-20px, 0);
					opacity: 0;
					transition: 0.5s all ease;

					&._active{

					transform: translate(0px, 0);
					opacity: 1;

					}
				}

				.title{

					transform: translate(-20px, 0);
					opacity: 0;
					transition: 0.5s all ease 0.5s;

					&._active{

					transform: translate(0px, 0);
					opacity: 1;

					}

					p:first-child{
						font-weight: 700;
					}
				}
			}
		}

		ul{
			width: 700px;
			display: flex;
			justify-content: space-between;
			margin-top: 20px;

			li{
				display: inline-block;
				font-weight: 700;
				transform: translate(-120%, 0);
				opacity: 0;
			
				a{
					transition: 0.3s all ;
				padding: 15px 0;
				border-top: 1px solid rgba(255, 255, 255, 0);
				border-bottom: 1px solid rgba(255, 255, 255, 0); 


				&:hover{
					border-top: 1px solid rgba(255, 255, 255, 1.0);
					border-bottom: 1px solid rgba(255, 255, 255, 1.0); 
					padding: 0;
				}
				}
			}

			&._active{

				li{

					transform: translate(0);
					opacity: 1;

					@for $var from 1 to 6 {

						$delay: $var * 0.3;
						&:nth-child(#{$var}) {

							@if $var == 1 {

								transition: 0.5s all ease 0s;
							} @else {

								transition: 0.5s all ease #{$delay + s};
							}
						}
					}

				}
			}
		}

		.first__screen{
			position: relative;
			margin-top: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			.first__screen__left{
				width: 500px;

				h1{
					transform: translate(-20%, 0);
					opacity: 0;
					transition: 1s all ease;

					&._active{

						opacity: 1;
						transform: translate(0);
					}
				}

				p{
					font-size: 24px;

					transform: translate(-20%, 0);
					opacity: 0;
					transition: 1s all ease 0.2s;

					&._active{

						opacity: 1;
						transform: translate(0);
					}
				}

				.btn{

					transform: translate(-40px, 0);
					opacity: 0;
					transition: 1s all ease 0.4s;

					&._active{

						transform: translate(0);
						opacity: 1;
					}



					p{
						opacity: 1;
						transform: translate(0);
					}
				}
			}

			.first__screen__right{
				transition: 0.5s all ease;
				position: relative;
				display: flex;
				max-width: 600px;
				height: auto;

				img{
					max-width: 600px;
					position: relative;
					z-index: 2;

					transform: translate(0, 10%);
					transition: 0.5s all ease;
					opacity: 0;

					&._active{

						transform: translate(0);
						opacity: 1;
					}
				}

				.blur{
					background: #FFDB81;
					transition: 0.5s all ease;
					width: 420px;
					height: 420px;
					position: absolute;
					border-radius: 50%;
					left: 15%;
					top: 20%;
					filter: blur(50px);

					transform: translate(0, 10%);
					transition: 0.5s all ease 0.5s;
					opacity: 0;

					&._active{

						transform: translate(0);
						opacity: 1;
					}
				}

				&:after{
						content: '';
						position: absolute;
						width: 620px;
						left: 0;
						top: -15px;
						height: 620px;
						border: 1px solid rgba(255, 255, 255, 0.1);
						border-radius: 50%;
					}

					&:before{
						content: '';
						position: absolute;
						width: 690px;
						height: 690px;
						left: -40px;
						top: -50px;
						border: 1px solid rgba(255, 255, 255, 0.05);
						border-radius: 50%;
					}

					
			}

			&:before{
				content: 'Там, де народжується твій стиль';
				position: absolute;
				font-size: 144px;
				color: rgba(255, 255, 255, 0.02);
				width: 1760px;
				font-weight: 900;
				top: 0;
				left: -200px;
			}
		}

	}
}

.second-wrap{
	position: relative;
	background: radial-gradient( at center, #161732, #070819);
	padding-bottom: 50px;

	.container{
		padding-top: 100px;
		.know{
			display: flex;
			justify-content: space-between;

			.know__left{
				width: 440px;

				h2{

					transition: 0.5s all ease;
					transform: translate(-40px, 0);
					opacity: 0;

					&._active{
						transform: translate(0);
						opacity: 1;
					}
					
				}

				p{
					font-size: 20px;

					transition: 0.5s all ease 0.2s;
					transform: translate(-40px, 0);
					opacity: 0;

					&._active{
						transform: translate(0);
						opacity: 1;
					}
				}
			}

			.know__right{
				width: 675px;

				display: flex;
				align-items: center;
				justify-content: center;

				transition: 1s all ease;
				opacity: 0;
				transform: translate(0, 40px);

				&._active{

					transform: translate(0);
					opacity: 1;
				}

				.arrow:first-child{
					transform: rotate(180deg);

					&:before{
						background: white;
					}

					&:after{
						background: white;
					}

					span{
						background: white;
					}
				}

				.last__arrow{
					
					&:before{
						background: white;
					}

					&:after{
						background: white;
					}

					span{
						background: white;
					}
				}

				.service{
					width: 670px;
					display: flex;
					flex-direction: column;

					.image{
						position: relative;
						text-align: center;

					img{
						width: 500px;
						position: relative;
						z-index: 2;
					}

					.blur{
						width: 200px;
						height: 200px;
						background: rgba(255, 228, 158, 1);
						border-radius: 50%;
						position: absolute;
						filter: blur(50px);
						top: 30%;
						left: 25%;
					}

						&:after{
						content: '';
						position: absolute;
						width: 400px;
						left: 65px;
						top: -15px;
						height: 400px;
						border: 1px solid rgba(255, 255, 255, 0.1);
						border-radius: 50%;
					}

					&:before{
						content: '';
						position: absolute;
						width: 490px;
						height: 490px;
						left: 25px;
						top: -50px;
						border: 1px solid rgba(255, 255, 255, 0.05);
						border-radius: 50%;
					}
					}

					

					.service__label{
						display: flex;
						align-items: center;
						justify-content: space-between;

						h3{
							font-size: 24px;
						}

						p{
							font-size: 24px;
						}
					}

					.service__description{
						display: flex;
						justify-content: space-between;

						p{
							font-size: 24px;

							&:first-child{
								font-size: 20px;
								width: 415px;
							}
						}
					}

					.buttons{
						display: flex;
						justify-content: space-between;

						.btn:last-child{
							color:white;

							.button{
								background: linear-gradient( to bottom right, #4C4AA9, #312F91);
							}

							.down__btn{
								background: #1A1883;
							}

							&:after{
								background: linear-gradient( to bottom right, #4C4AA9, #312F91);
								opacity: 0.7;
							}

							&:hover{

								&:after{
									opacity: 0;
								}
							}
						}
					}
				}
			}
		}

		.services{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 100px;

			.first__arrow__services{

				transition: 0.5s all ease;
				position: relative;
				opacity: 0;
				left: -40px;

				&._active{

					left: 0;
					opacity: 1;
				}
			}

			.last__arrow__services{

				transition: 0.5s all ease 0.6s;
				position: relative;
				opacity: 0;
				left: -40px;

				&._active{

					left: 0;
					opacity: 1;
				}
			}

			.arrow{

					&:before{
						background: white;
					}

					&:after{
						background: white;
					}

					span{
						background: white;
					}

					&:first-child{
						transform: rotate(180deg);
					}
			}

			.offers{
				width: 1075px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.offer{
					display: flex;
					border-radius: 5px;
					flex-direction: column;
					justify-content: flex-end;
					width: 345px;
					height: 215px;
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
					cursor: pointer;
					overflow: hidden;

					&:nth-child(1){
						transform: translate(0, 40px);
						opacity: 0;
						transition: 1s all ease;

						&._active{
							transform: translate(0);
							opacity: 1;
						}
					}

					&.hair{
						transform: translate(0, 40px);
						opacity: 0;
						transition: 1s all ease 0.2s;

						&._active{
							transform: translate(0);
							opacity: 1;
						}
					}

					&.gray{
						transform: translate(0, 40px);
						opacity: 0;
						transition: 1s all ease 0.4s;

						&._active{
							transform: translate(0);
							opacity: 1;
						}
					}

					.wrap{
						transform: translate(0px, 150px);
						transition: 0.5s all ease;

						p{
							width: 80%;
						}
					}

					.btn{
						margin: 0 auto;
						transform: translate(0px, 160px);
						transition: 0.5s all ease;

						.arrow{

						&:before{
							background: black;
						}

						&:after{
							background: black;
						}

						span{
							background: black;
						}
					}

						.button{
							height: 77px;
						}

							p{
								width: auto;
								margin-right: 20px;
								margin-left: 20px;
						}
					}

					&:nth-child(1){
						background-image: linear-gradient( to top, #000, rgba(118, 118, 118, 0)), url('../source/img/Оформление бороды.webp');
						background-size: cover;

					}

					&:nth-child(2){
						background-image: linear-gradient( to top, #000, rgba(118, 118, 118, 0)), url('../source/img/Укладка волос.webp');
						background-size: cover;

					}

					&:nth-child(3){
						background-image: linear-gradient( to top, #000, rgba(118, 118, 118, 0)), url('../source/img/Тонировка седины.webp');
						background-size: cover;

					}

					h3{
						padding-left: 20px;
						margin: 0;
						margin-bottom: 20px;
					}

					p{
						width: 240px;
						padding-left: 20px;
						margin: 0;
						margin-bottom: 10px;
					}

					&.hair{
						margin-bottom: 40px;
					}

					&.gray{
						margin-top: 40px;
					}


					&:hover{
						
						.wrap{
							transform: translate(0, -50px);

						}

						.btn{
							transform: translate(0, 0);
						}
					}
					
				}
			}
		}
	}

	&:after{
		content: 'Покращити ваш образ';
		position: absolute;
		font-weight: 900;
		font-size: 144px;
		top: 0;
		width: 1100px;
		left: 37px;
		opacity: 0.02;
	}
}

.third-wrap{
	background: linear-gradient( to bottom right, #1F2024, #060707);

	.container{

		.workers{
			position: relative;

			h2{
				margin: 0;
				
			}

			.workers__content{

				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-top: 60px;

				.arrow{

					&:after{
										background: white;
									}

									&:before{
										background: white;
									}

									span{
										background: white;
									}
				}

				.arrow:first-child{
					transform: rotate(180deg);
				}

				.barbers{
					display: flex;
					align-items: center;
					justify-content: space-between;

					.barber{
						width: 330px;
						height: 590px;
						display: flex;
						flex-direction: column;
						position: relative;

						.blur{
							width: 190px;
							height: 190px;
							background: rgba(255, 220, 130, 0.2);
							position: absolute;
							border-radius: 50%;
							left: 20%;
							top: 10%;
							filter: blur(15px);
						}

						p{
							font-size: 18px;
						}

						&:nth-child(1){
								h3{padding-top: 30px;}
							}
						h3{
							margin: 0;
							padding-top: 20px;

						}

						img:first-child{
							margin: 0 auto;
							position: relative;
							z-index: 2;

						}

						.btn{
							margin-top: auto;
							color: white;


							.button{
								transition: 1s all ease;
								background: linear-gradient( to bottom right, rgba(231, 196, 105, 0), rgba(254, 219, 129, 0));
								border: 1px solid rgba(254, 219, 129, 1);

								p{
									font-size: 24px;
								}

								.arrow{
									transition: 0.5s all ease;

									&:after{
										background: white;
									}

									&:before{
										background: white;
									}

									span{
										background: white;
									}
								}
							}

							.down__btn{
								display: none;
							}

							&:after{
								display: none;
							}

							&:hover{
									
									.button{
										background: linear-gradient( to bottom right, rgba(231, 196, 105, 1), rgba(254, 219, 129, 1));
										transform: translate(0);
										color: black;
									}

									.arrow{

									&:after{
										background: black;
									}

									&:before{
										background: black;
									}

									span{
										background: black;
									}
								}
								}
						}

						&:nth-child(1){
								img{width: 200px;}
							}
						

							&:nth-child(2){
								img{width: 268px;}
							}

							&:nth-child(3){
								img{width: 255px;}
							}

							&:after{
								content: '';
								position: absolute;
								width: 235px;
								height: 235px;
								border: 1px solid white;
								border-radius: 50%;
								opacity: 0.2;
								left: 14%;
								top: -2%;
							}

							&:before{
								content: '';
								position: absolute;
								width: 295px;
								height: 295px;
								border: 1px solid white;
								border-radius: 50%;
								opacity: 0.2;
								left: 6%;
								top: -6%;
							}
						
					}
				}
			}

			&:before{
				content: 'найкращі барбери';
				font-weight: 900;
				font-size: 144px;
				color: white;
				position: absolute;
				left: -15%;
				opacity: 0.02;
			}
		}

		.advantages{
			position: relative;
			z-index: 2;
			padding-bottom: 30px;

			h2{
				
			}

			.advantages__content{

				display: flex;
				align-items: center;
				justify-content: space-between;

				.advantage{
					width: 350px;

					p{
						font-size: 20px;
					}

					i{
						font-size: 50px;
					}
				}
			}

			&:before{
				content: 'Переваги';
				font-size: 144px;
				position: absolute;
				font-weight: 900;
				left: -25%;
				top: -15%;
				opacity: 0.02;
			}
		}
	}
}

.fourth-wrap{

	background: radial-gradient( at center, #161732, #070819);
	padding-bottom: 50px;

	.container{

		.arrow:first-child{
					transform: rotate(180deg);

					&:before{
						background: white;
					}

					&:after{
						background: white;
					}

					span{
						background: white;
					}
				}

				.arrow{

					&:before{
						background: white;
					}

					&:after{
						background: white;
					}

					span{
						background: white;
					}
				}
				.portfolio{
					position: relative;
					z-index: 2;

					h2{
						width: 350px;

					}

					.portfolio__content{
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					z-index: 2;

					.portfolio__slider{
						display: flex;
						align-items: center;
						justify-content: space-between;

						img{
							width: 300px;
							margin: 0 30px;
						}

						.second__work{margin-bottom: 40px;}
						.third__work{margin-top: 40px;}
					}
				}

					&:after{
						content: '3 тис. образів';
						font-weight: 900;
						font-size: 144px;
						opacity: 0.02;
						position: absolute;
						top: 0;
						width: 1000px;
						left: -300px;
					}
				}


			.reviews{

				position: relative;
				z-index: 2;

				.reviews__content{

					display: flex;
					justify-content: space-between;
					align-items: center;

					.reviews__slider{
						display: flex;
						justify-content: space-between;

						.review{
							width: 510px;
							height: 200px;
							background: linear-gradient( to bottom right, #1A1541, #151A4F);
							border-radius: 5px;
							box-shadow: 0 0 20px rgba(231, 195, 104, 0.5);
							margin-right: 30px;
							margin-left: 30px;
							display: flex;
							position: relative;
							z-index: 2;

							.date{
								width: 40px;
								position: absolute;
								left: -12px;
								top: 55px;

								.p{
									transform: rotate(-90deg);
									display: inline-block;
									font-weight: 700;
								}

								.line{
									height: 1px;
									width: 80px;
									position: absolute;
									left: -1px;
									top: 105px;
									transform: rotate(-90deg);
									background: #FFDC82;

								}
							}

							.man{
								width: 455px;
								margin-left: auto;

								h3{
									margin-bottom: 10px;
								}

								h4{
									margin-top: 0;
									margin-bottom: 30px;
								}
							}
						}
					}
				
				}

	}
}
}

.oto{

	background: #18191C;
	overflow: hidden;
	position: relative;

	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		position: relative;
		z-index: 2;

		.oto__left{

			img{

				width: 350px;
			}
		}

		.oto__right{
			width: 100%;

			.oto__right__label{

				p{
					font-size: 20px;
				}

				h2{
					font-size: 30px;
					padding: 0;
					padding-bottom: 85px;
				}
			}

			.form{
				display: flex;
				align-items: flex-start;
				justify-content: space-between;

				form{
					display: flex;
					align-items: center;
					justify-content: space-between;
					

					.input{
						position: relative;

					input{
						width: 257px;
						height: 77px;
						font-size: 24px;
						border: 1px solid white;
						border-radius: 5px;
						background: #2B2727;
						color: white;
						text-align: center;
						margin-right: 20px;

						&::placeholder{
							color: white;
						}

						}

						.input__label{
							position: absolute;
							top: -10px;
							left: 20px;
							font-size: 12px;

							span{
								position: relative;
								z-index: 2;
								left: 10px;
							}

							.background{
								position: absolute;
								width: 90px;
								height: 5px;
								background: #2B2727;
								top: 9px;

								&.background__phone{
									width: 100px;
								}
							}

						}
				}
			}
		}
	}
}

	.blur-1{
		background: #C2A456;
		width: 365px;
		height: 365px;
		border-radius: 50%;
		position: absolute;
		top: -60px;
		filter: blur(35px);
	}

	.blur-2{
		background: rgba(95, 93, 187, 0.6);
		width: 270px;
		height: 270px;
		border-radius: 50%;
		position: absolute;
		bottom: -50px;
		left: 600px;
		filter: blur(45px);
	}

	.blur-3{
		height: 200px;
		width: 200px;
		background: rgba(255, 220, 130, 0.6);
		position: absolute;
		top: -80px;
		left: 700px;
		border-radius: 50%;
		filter: blur(45px);
	}

	.blur-4{
		background: rgba(95, 93, 187, 0.6);
		width: 270px;
		height: 270px;
		border-radius: 50%;
		position: absolute;
		bottom: -50px;
		left: 1100px;
		filter: blur(45px);
	}

	.blur-5{
		height: 200px;
		width: 200px;
		background: rgba(255, 220, 130, 0.6);
		position: absolute;
		top: -80px;
		left: 1200px;
		border-radius: 50%;
		filter: blur(45px);
	}

	.blur-6{
		background: #24265F;
		width: 465px;
		height: 465px;
		border-radius: 50%;
		position: absolute;
		top: -60px;
		filter: blur(35px);
		right: -30px;
	}

	&:after{
		content: 'Залишіть заявку';
		font-size: 144px;
		font-weight: 900;
		position: absolute;
		top: 25%;
		left: 25%;
		opacity: 0.02;
	}
}

.fourth-wrap{

	.container{

		.connect{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.connect__left{
				width: 470px;

				p:first-child{
						width: 400px;
				}

				.adress__phone{
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-top: 30px;
					padding-bottom: 40px;
				}

				.social__medias{
					width: 150px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-bottom: 50px;

					a{

						i{
							font-size: 40px;
						}
					}
				}

			}

			.connect__right{
				margin-top: 50px;

				iframe{
					width: 670px;
					height: 435px;
					border-radius: 5px;
				}
			}

			
		}
	}
}


















@media screen and (max-width: 1290px){

	.second-wrap .container .know{

		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container{

		width: 1000px;
	}

	.oto .container .oto__left img{

		width: 350px;	
	}

	.fourth-wrap .container .connect .connect__right iframe{

		width: 500px;	
		height: 300px;	

	}

	.oto .container{

		flex-direction: column-reverse;
	}

	.oto .blur-1{
		top: 50%;
	}

	.oto .blur-6{
		left: 40%;
	}

	.fourth-wrap .container .reviews .reviews__content .reviews__slider .review:first-child{

		display: none;
	}

	.fourth-wrap .container .portfolio .portfolio__content .portfolio__slider .third__work{

		display: none;
	}

	.third-wrap .container .workers .workers__content .barbers .barber:last-child{

		display: none;
	}

	.third-wrap .container .workers .workers__content .barbers .barber{

		margin: 0 30px;
	}

	.second-wrap .container .services .offers .offer.gray{
		display: none;
	}

	.second-wrap .container .services .offers {
		justify-content: space-around;
	}

	.third-wrap .container .advantages .advantages__content{

		flex-direction: column;
		width: auto;	
		align-items: flex-start;

		.advantage{
			margin-top: 20px;

			width: auto;	
		}
	}

	}

@media screen and (max-width: 1070px) {

	.second-wrap .container .know .know__left{

		width: auto;	
	}

	.razer{

		display: none;	
	}

	.container{
		width: 900px;
	}

	.oto .container .oto__left img{

		width: 100%;
		max-width: 400px;
		height: auto;
	}

	.btn{

		width: 100%;	

		.down__btn{

			width: 100%;	
		}

		&:after{

			width: 100%;	
		}
	}

	.header .adress{
		display: none;
	}
	
	.first-wrap .container ul{
		display: none;
	}

	.container{
		width: auto;
	}

	.first-wrap .container .first__screen{

		flex-direction: column;
		align-items: center;
	}

	.first-wrap .container .first__screen .first__screen__right{

		
		margin-bottom: -100px;

		img{
			width: 100%;
			max-width: 500px;
			height: auto;
		}
	}

	.first-wrap .container .first__screen .first__screen__left{

		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		width: auto;
	}

	.first-wrap .container .first__screen .first__screen__left .btn{
		margin-top: 20px;
	}


	.second-wrap .container .know .know__right .service{

		margin-top: 50px;
	}

	.second-wrap .container{

		padding-top: 0;

		.know__left{

			h2{
				text-align: center;
			}	

			}

		
	}

	.second-wrap .container .know .know__left p{
		font-size: 18px;
		text-align: center;
	}

	.second-wrap .container .know .know__left h2{

		text-align: left	;
	}

	.fourth-wrap .container .connect{
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: auto;	

		.connect__left{

			width: auto;	


		}

		iframe{
			width: 600px;
		}
	}

	.burger{
		display: block;
	}
}

@media screen and (max-width: 900px){

	.oto .container .oto__right .form{

		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: auto;	
		margin: 0 auto;	
	}

	.oto .container .oto__right .form form{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;	
		margin: 0 auto;	
	}

	.oto .container .oto__right .form form .input input,
	.oto .container .oto__right .form form .input{
		margin-bottom: 30px;
		width: 90%;	
		margin-right: 0;
	}

	.fourth-wrap .container .portfolio .portfolio__content .portfolio__slider .second__work{
		display: none;
	}

	.second-wrap .container .services .offers .offer.hair{
		display: none;
	}

	.third-wrap .container .workers .workers__content .barbers .barber:nth-child(2){
		display: none;
	}

	

	.second-wrap .container .know .know__right .service .buttons{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}


	.second-wrap .container .know .know__right{

		.arrow{
			display: none;
		}

		.btn{

			.arrow{
				display: block;
			}
		}
	}

	.second-wrap .container .know .know__right .service .image img{

		max-width: 400px;
		width: 100%;	
		height: auto;	
	}

	.second-wrap .container .know .know__right .service .image .blur{
		max-width: 200px;	
		max-height: 200px;	
		width: 100%;	
		height: 100%;	
	}

	.second-wrap .container .know .know__right .service .image{

		&:before,
		&:after{

			display: none;
		}

		.blur{
			left: 30%;
		}
	}

	.second-wrap .container .know .know__right .service{

		width: auto;
	}

	.third-wrap .container .workers .workers__content {

		justify-content: center;
	}

	.third-wrap .container .workers .workers__content{

		.arrow:first-child{
			display: none;
		}

		.arrow:last-child{
			display: none;
		}

		.btn .arrow{
			display: block;
		}
	}

	.fourth-wrap .container .portfolio .portfolio__content{

		.arrow:first-child{
			display: none;
		}

		.arrow:last-child{
			display: none;
		}		
	}

	.fourth-wrap .container .portfolio .portfolio__content{
		justify-content: center;
	}

	.fourth-wrap .container .reviews .reviews__content{

		.arrow:first-child{
			display: none;
		}

		.arrow:last-child{
			display: none;
		}
		justify-content: center;
	}
}

@media screen and (max-width: 700px){


	.first-wrap .container .header .phone{
		display: none;
	}

	.first-wrap .container .header .emblem i{
		font-size: 50px;
	}
}

@media screen and (max-width: 600px) {

	body{
		line-height: 1.5;
		font-size: 16px;	
	}

	.first-wrap .container .first__screen .first__screen__right{

		&:after,
		&:before{
			display: none;	
		}

		.blur{
			width: 100%;	
			max-width: 420px;	
			height: 100%;	
			max-height: 420px;	
		}
	}

	.fourth-wrap .container .reviews .reviews__content .reviews__slider .review .date{
		display: none;	
	}

	.fourth-wrap .container .reviews .reviews__content .reviews__slider .review .man{
		width: auto;	
		padding: 30px;	
		padding-top: 0;	
	}

	.fourth-wrap .container .reviews .reviews__content .reviews__slider .review{

		height: auto;	
		width: auto;	
		text-align: center;

		p{
			font-size: 16px;	

		}
	}

	.second-wrap .container .know .know__right .service .service__label,
	.second-wrap .container .know .know__right .service .service__description{

		flex-direction: column;
		align-items: center;
		text-align: center;

	}

	.second-wrap .container .services{

		.arrow{
			display: none;	
		}

		.btn{

			.arrow{

				display: block;	
			}
		}
	}

	.third-wrap .container .workers .workers__content .barbers .barber{

		margin-bottom: 20px;	

		width: auto;	
		text-align: center;

		p{
			font-size: 17px;	
		}

		.btn{
			margin-top: 20px;	
		}

		&:before,
		&:after{
			display: none;	
		}
	}

	.fourth-wrap .container .connect .connect__right{

		iframe{

			width: 100%;
		}
	}

	.fourth-wrap .container .connect .connect__left{

			text-align: center;

		h2{
			text-align: left;
		}

		.adress__phone{

			flex-direction: column;
			font-size: 18px;	
			text-align: center;

			.adress,
			.phone{
				
				width: auto;	
				margin-top: 20px;	
				text-align: center;
			}
		}

		.social__medias{

			width: auto;	
		}
	}
}

@media screen and (max-width: 400px){

	.first-wrap .container .first__screen .first__screen__right{
		display: none;	
	}
}